.page {
    width: 100vw;
    height: 100vh;
    background-image: url('/img/bg-wardrobe.png');
    background-size: contain;
    background-repeat: no-repeat;   
}

.container {
    position: absolute;
    left: 434px;
    top: 107px;
}

