.page {
    width: 100vw;
    height: 100vh;
    background-image: url(/img/bg-outfits.png);
    background-size: contain;
    background-repeat: no-repeat;

}

.container {
    /* /* position: relative;
    width: 100%;
    height: 100%; */
    background-color: aqua;
}

